.menuBar {
  background: rgb(238, 76, 119);
  background: linear-gradient(
    180deg,
    rgba(238, 76, 119, 1) 42%,
    rgba(204, 66, 109, 1) 79%,
    rgba(193, 62, 105, 1) 86%,
    rgba(177, 57, 100, 1) 100%,
    rgba(165, 53, 96, 1) 100%,
    rgba(151, 49, 92, 1) 100%,
    rgba(140, 45, 88, 1) 100%,
    rgba(118, 38, 81, 1) 100%
  );
}

.inputSearch {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: transparent;
  border-color: white;
  border-radius: 0;
  color: white;
}

.inputSearch:focus {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: white;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: white;
}

.inputSearch:active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: white;
  color: white;
}

.arrow {
  color: white;
  margin-top: 16.6px;
  margin-bottom: 17px;
}

.inputSearch::-webkit-input-placeholder {
  color: #991237;
}
.inputSearch:-moz-placeholder {
  color: #991237;
}
.inputSearch::-moz-placeholder {
  color: #991237;
}
.inputSearch::placeholder {
  color: #991237;
}
.inputSearch:-ms-input-placeholder {
  color: #991237;
}

h4 {
  color: #383743;
}

.nomeEmpresa {
  color: white;
  margin-top: 13px;
  margin-bottom: 17px;
}

.loadingIco {
  color: #57bbbc;
}

.searchIco {
  height: 40px;
  width: 40px;
}

.searchIco {
  cursor: pointer;
}

form .input-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form .input-search img {
  object-fit: contain;
  align-items: center;
}

form .input-search input {
  width: 100%;
  height: 100%;
}
