.loginContainer {
  height: 100%;
}

.inputField {
  border: 0;
  background: transparent;
  color: #403e4d;
}

.inputField:focus {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #403e4d;
}

.inputField:active {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #403e4d;
}

.btnLogar {
  border-radius: 1.8px;
  background-color: #57bbbc;
  color: white;
  font-weight: bold;
}

.form-control::-webkit-input-placeholder {
  color: #383743;
}
.form-control:-moz-placeholder {
  color: #383743;
}
.form-control::-moz-placeholder {
  color: #383743;
}
.form-control::placeholder {
  color: #383743;
}
.form-control:-ms-input-placeholder {
  color: #383743;
}

.loadingIco {
  color: #57bbbc;
}

form .input-block {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #383743;
}

form .input-block img {
  object-fit: contain;
  align-items: center;
}

form .input-block img.passwordEye {
  object-fit: contain;
  align-items: center;
  width: 20px;
  height: 20px;
}

form .input-block img.passwordEye:hover {
  cursor: pointer;
}

form .input-block input {
  width: 100%;
  height: 30px;
}

form p.invalidLogin {
  color: #ff0f44;
}

form .inputError {
  border-bottom: 1px solid #ff0f44;
}
